{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | About Us
{% endblock %}

{% block body %}
    <h1>A propos de nous ...</h1>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto beatae debitis dignissimos
            distinctio dolores dolorum excepturi, facilis incidunt itaque iusto libero mollitia optio quaerat quisquam
            tempora tenetur ullam, voluptas?</p>
        <p>Deleniti dolor, dolorem earum illum libero nobis quo quos recusandae reiciendis reprehenderit sequi sint
            suscipit ut veritatis vero. Modi molestias nisi odio perferendis saepe sint tempora totam ullam ut
            veniam.</p>
        <p>A accusamus aliquam animi debitis error inventore, possimus quis repellat rerum suscipit ullam vel veritatis
            voluptatum? Aspernatur deserunt, ducimus et eum ex explicabo itaque libero odio voluptas voluptatem. Cum,
            distinctio?</p>
        <p>Consectetur consequatur ea eligendi, est exercitationem harum neque officia quod sint. Assumenda debitis
            deserunt dignissimos dolore eos exercitationem, illo in itaque laboriosam libero nesciunt nulla odio ratione
            sint suscipit voluptates.</p>
    </article>

{% endblock %}