{% extends 'base.html.twig' %}

{% block title %}
    List !
{% endblock %}

{% block body %}
    <h2>Wish List</h2>

    {% for wish in wishes %}
        <article>
            <a href="{{ path('wish_show', {'id': wish.id}) }}">
             <p>{{wish.title}}</p>
            </a>
        </article>
    {% endfor %}
{% endblock %}



