<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Page d'accueil</a></li>
        <li><a href="{{ path('main_about_us') }}">A propos de nous</a></li>
        <li><a href="{{ path('wish_list') }}">Liste de souhaits</a></li>

    </ul>
</nav>